# === Build Directories ===
target/
build/
!**/src/main/**/target/
!**/src/test/**/target/
!**/src/main/**/build/
!**/src/test/**/build/

# === Maven Wrapper ===
.mvn/wrapper/maven-wrapper.jar

# === IDE Files ===

## STS (Spring Tool Suite) ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

## IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

## NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

## VS Code ###
.vscode/

# === Local Configuration Files ===
# Local env config — real config ignored, see `.example` file
src/main/resources/application.properties

# === Java Artifacts ===

## Compiled class files
*.class

## Logs
*.log

## BlueJ
*.ctxt

## J2ME
.mtj.tmp/

## Package files
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

## JVM crash logs
hs_err_pid*
replay_pid*
